$dark: #2f3749;
$gray: #363f50;
$white: #ffffff;
$green: #22ca96;
$red: #ff4e40;

.btn {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 3px solid #0c0c0d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.btn_white {
  background-color: $green;
  color: $gray;
  border: 3px solid $green !important;
  width: 80%;
  margin: 10px 10%;
  font-weight: 500;
  line-height: 1.75;
  height: 56px;
}
.btn_dark {
  background-color: #0c0c0d;
  color: #f1f1f2;
  border: 3px solid #f1f1f2;
  width: 80%;
  margin: 10px 10%;
}

.btn_right {
  position: absolute;
  bottom: 5%;
  right: -10px;
  width: 45%;
  justify-content: space-between;
  font-size: 18px;
  .arrow-icon {
    margin-right: 10px;
  }
}
.btn_right2 {
  right: -10px;
  width: 35%;
  justify-content: space-between;
  font-size: 18px;
  height: 50%;
  display: flex;
  flex .arrow-icon {
    margin-right: 10px;
  }
  background-color: $dark;
  color: $white;
  border-color: $white;
}
.modal-button-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .modal-button {
    padding: 10px;
    background-color: $green;
    color: $white;
    border: 0;
  }
}

.MuiButton-contained {
  background-color: $dark !important;

  width: 80% !important;
  margin: 10px 10% !important;
  color: $white !important;
  border: 1px solid $white !important;
  // padding: 0px 14px;
  span {
    padding: 8px 0px;
    font-size: 16px;
  }
}
.MuiIconButton-root {
  color: $white !important;
}

@media only screen and (min-width: 800px) {
  .btn_white {
    border: 3px solid #f1f1f2;
    width: 80%;
    margin: 10px 10%;
  }
  .btn_dark {
    width: 40%;
    margin: 10px 10%;
  }
  .btn_right {
    width: 20%;
  }
  .btn_right2 {
    width: 35%;
  }

  .MuiButton-contained {
    width: 40% !important;
    margin: 10px 10% !important;
  }
}
