$dark: #2f3749;
$gray: #363f50;
$white: #ffffff;
$green: #22ca96;
$red: #ff4e40;

table,
th,
td {
  border-bottom: 1px solid $white;
  border-collapse: collapse;
}

.table-dark {
  background-color: $gray;
  color: $white;

  border-spacing: 20px;
  text-align: center;
  width: 80%;
  margin: 0% 10%;
  border-radius: 10px;
  overflow: hidden;

  thead {
    font-weight: bold;
    tr {
      th {
        padding: 15px;
        color: $green;
      }
    }
  }
  svg {
    font-size: 30px;
    background-color: hsl(4, 100%, 63%, 0.2);
    padding: 4px;
    border-radius: 5px;
    color: $red;
  }
  svg:hover {
    color: $red;
    background-color: $white;
    cursor: pointer;
  }
  tr {
    th {
      padding: 15px;
    }
  }
}
