$dark: #2f3749;
$gray: #363f50;
$white: #ffffff;
$green: #22ca96;

.topbar {
  // position: absolute;
  // left: 250px;
  // top: 0;
  width: calc(100% - 250px);
  margin-left: 250px;
  // margin-left: 10%;
  height: 100px;
  background-color: $dark;
  display: flex;
  align-items: center;
  color: $white;
  h1 {
    margin-left: 5%;
    width: 90%;
    text-align: center;
  }
  svg {
    cursor: pointer;
    padding: 0px 20px;
    height: 40px;
    width: 40px;
  }
  svg:hover {
    color: $green;
  }
}
