// $dark: #0c0c0d;
$dark: #2f3749;
$gray: #363f50;
$white: #ffffff;
$green: #22ca96;

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: $dark;
  color: $white;
  .logo {
    img {
      height: 30px;
      width: 30px;
    }
    p {
      margin-left: 5px;
    }
    color: $green;

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subject {
    padding: 10px 20px;
    .nav-item {
      display: flex;
      // justify-content: center;
      // text-align: center;
      padding: 10px;
      img {
        width: 40px;
        height: 40px;
      }
      p {
        padding: 0 15px;
      }
    }
    .nav-item:hover {
      background-color: $green;
      border-radius: 10px;
      cursor: pointer;
      color: $white;
    }
    img {
      color: $white;
      fill: white;
    }
  }
}

.link {
  text-decoration: none;
  color: $white;
}
