$dark: #2f3749;
$gray: #363f50;
$white: #ffffff;
$green: #22ca96;
$red: #ff4e40;

@media only screen and (min-width: 800px) {
  .auth-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-container {
      color: $white;

      img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        margin: 0px auto !important;
        margin-bottom: 10px !important;
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .form-container {
    height: 60vh;
  }
  .auth-container {
    margin: 10% 0;
    img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 142px;
      margin: 0px auto !important;
      margin-bottom: 10px !important;
    }
    color: $white;
    form {
      color: $white;
    }
  }
}
