$dark: #0c0c0d;
$white: #f1f1f2;

@media only screen and (min-width: 800px) {
  .auth-container {
    // margin: 10% 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-container {
      // height: 100vh;
      color: $white;

      img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        margin: 0px auto !important;
        margin-bottom: 10px !important;
        // width: 60%;
        // margin: 0% 20%;
        // margin-bottom: 20px;
      }
      color: $white;
    }
  }
}
@media only screen and (max-width: 800px) {
  .form-container {
    height: 60vh;
  }
  .auth-container {
    margin: 10% 0;
    img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 142px;
      margin: 0px auto !important;
      margin-bottom: 10px !important;
      // width: 60%;
      // margin: 0% 20%;
      // margin-bottom: 20px;
    }
    color: $white;
    form {
      color: $white;
    }
  }
}
