$dark: #2f3749;
$gray: #363f50;
$white: #ffffff;
$green: #22ca96;
$red: #ff4e40;

.input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "first-name last-name";
}

.MuiFormControl-root {
  width: 80% !important;
  margin: 10px 10% !important;
}
.first-name {
  grid-area: first-name;
  margin-left: 20% !important;
  margin-right: 5% !important;
  width: 75% !important;
}
.last-name {
  grid-area: last-name;
  margin-right: 20% !important;
  margin-left: 5% !important;
  width: 75% !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: $green !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: $green !important;
}

.MuiFormLabel-root {
  color: $green !important;
}
.MuiInputBase-input {
  color: $green !important;
}
.MuiIconButton-label {
  justify-content: flex-end !important;
  .MuiSvgIcon-root {
    fill: $green !important;
  }
}
